@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-brand-50: #fde8eb;
  --color-brand-100: #fbd1d7;
  --color-brand-200: #f6a3af;
  --color-brand-300: #f17587;
  --color-brand-400: #ee5b70;
  --color-brand-500: #E8304A;
  --color-brand-600: #d12b43;
  --color-brand-700: #a22234;
  --color-brand-800: #741825;
  --color-brand-900: #460e16;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
